.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header-logo {
    width: 100px;
    height: 100px;

}

.header-logo img {
    width: 100%;
}

.header-nav {
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #059dc0;
}

.header-search button {
    background-color: black;
    color: #ffffff;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.banner img {
    width: 47%;
}

.content h1 {
    text-align: center;
    color: #059dc0;
}

.content p {
    color: orange;
    font-style: italic;
    font-size: 18px;
    text-align: justify;
}

.ft-content {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    background-color: #059dc0;
    color: #ffffff;
}

.copyright {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 15px;
}